* {
    margin: 0;
    padding: 0;
	font-family: "Roboto", sans-serif;
}

:root {
	--mainColor: #afd2f0;
	--mainHover: #c5e4ff;
}

/*-------------------------------[Header]---------------------------------*/
header {
	width: 100%;
	height: 250px;
	padding: 45px 0px 25px 0px;
	background-color: aliceblue;
	border-bottom: 4px solid #afd2f0;
	
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
}

header h1 {
	font-size: 60px;
	font-weight: bold;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

header h1 span { color: #d04d1e; }

header small {
	position: relative;
	top: 6px;
	font-size: 15px;
	font-weight: 550;
	color: #585858;
}

header img { transform: rotate(-15deg); }

#logoShadow {
	position: relative;
	top: -8px;
	width: 150px;
	height: 10px;
	border-radius: 75px / 5px;
	background-color: rgba(0, 0, 0, .04);
}

header .slogan { text-align: center; }

/*----------------------------[Search bar]--------------------------------*/

#searchBar {
	width: 100%;
	height: 60px;
	background-color: var(--mainColor);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

#searchBar ul {
	position: relative;
	top: 8px;
	left: 25px;
	width: 460px;
	margin: auto;
	list-style-type: none;
}

#searchBar ul li {
	float: left;
	padding: 0px 5px;
}

#searchBar input[type="text"] {
	width: 360px;
	height: 30px;
	padding: 5px 40px 5px 5px;
	border: none;
	border-radius: 4px;
	font-size: 20px;
}

#searchBar .fas {
	position: relative;
	top: 5px;
	left: -45px;
	font-size: 30px;
	color: var(--mainColor);
}

/*---------------------------------[Error panel]-----------------------------*/

#resultsPanel, #errorPanel { display: none; }

#errorPanel {
	height: 100px;
	width: 100%;
	margin-top: 30px;
	background-color: rgba(217, 95, 95, 0.49);
	color: #c34343;
	text-align: center;
	border: 1px solid #c34343;
	border-left: 0px;
	border-right: 0px;
}

#errorPanel span { color: #a22222; }

#errorText { margin: 35.4px 0px; }

/*--------------------------------[Results panel]-----------------------------*/

#resultsPanel {
	width: 70%;
	height: 315px;
	margin: 40px auto;
	background-color: aliceblue;
	border: 1px solid var(--mainColor);
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

#profileLeft, #profileRight {
	float: left;
}

#profileLeft {
	padding: 5px;
}

#profileLeft img {
	padding: 2px;
	width: 244px;
	border: 1px solid var(--mainColor);
	border-radius: 3px;
}

#profileLeft button {
	font-size: 18px;
	font-weight: bold;
	padding: 5px;
	width: 250px;
	height: 50px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	background-color: var(--mainColor);
	transition-property: background-color;
	transition-duration: .5s;
}

#profileLeft button:hover {
	background-color: var(--mainHover);
}

#profileRight ul {
	margin-top: 3px;
	list-style-type: none;
	width: 700px;
}

#profileRight ul li { padding: 5px; }

#profileRight ul li span {
	color: var(--mainColor);
	font-weight: bold;
}

#profileRight h2 {
	width: 49%;
	font-size: 35px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
	color: var(--mainColor);
}

#profileRight hr {
	position: relative;
	top: -20px;
	width: 743px;
	border: none;
	border-bottom: 1px solid var(--mainColor);
}

#profileStats {
	width: 100%;
	position: relative;
	top: 2px;
}

.badge {
	font-size: 12px;
	padding: 2px 5px;
	background-color: var(--mainColor);
	border-radius: 3px;
	color: white;
	transition-property: background-color;
	transition-duration: .5s;
	box-shadow: 0px 1px 0.5px rgba(0, 0, 0, 0.5);
}

.badge:hover { background-color: var(--mainHover); }

#profileStats a { text-decoration: none; }
